version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly" # peut être daily, weekly ou monthly

    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "gradle"

  # Mise à jour des GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/" 
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "github-actions"
